<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>


    <div id="main page">
        <h2 class="h5 mt-4">2000s Fun Fact</h2>
        <p><%= gossip %></p>

    </div>
    
</body>
</html>