<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>


    <div id="main page">
        <h1>MOVIES</h1>
    </div>
    
</body>
</html>