body{
    background: linear-gradient(180deg, #99ABFD,#CED6FB, #FCFCFC);
    font-family: "Orbitron", system-ui, sans-serif;
    color:#2b2d42;
}

/* NAV BAR STYLING */
.y2k-navbar{
    background-color: #5971dd;
    font-family:"Orbitron", system-ui, sans-serif;
}

.y2k-brand{
    font-family: "Jersey 15", cursive;
    font-size: 3rem;
    color: white !important;
    letter-spacing: 0.5px;
}

.y2k-link{
    color: #e3e8ff !important;
    font-family: "Jersey 15", cursive;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    transition: color .2s ease;
}

.y2k-link:hover {
    color: white !important;
    text-shadow: 0 0 8px rgba(255,255,255,.4);
}

#mainPage{
    border: 10px solid #727aa3;
    height: auto;
}

/* Not being used any more */
/* #homeImg {
    width: 80%;
    height: 75%;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 1em;
}

#homeImg img{
    width:70%;
    height: 115%;
} */

#movieGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieCard{
    width: 200px; /* REPLACE FOR SOMETHING DYNAMIC LATER*/
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #fefefe;
    padding: 10px;
}

.movieCard img{
    width: 100%;
    border-radius: 0.5em;
}